.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #808080;
  padding: 1rem;
  border-radius: 8px;
  grid-column: 1/3;
  .backBtn {
    display: flex;
    min-width: 25px;
    background-color: transparent;
    border: none;
  }
}
